doctype html
html(ng-app='lock8rApp')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Lock8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target= '#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    .container
      div(ng-view)        
        block content
      footer
        .row
          .col-xs-12
            small &copy; Diego Cardoso 2016

  script(type="text/javascript", src="/angular/angular.min.js")
  script(type="text/javascript", src="/lib/angular-route.min.js")
  script(type="text/javascript", src="/app.js") 
  script(type="text/javascript", src="/home/home.controller.js")
  script(type="text/javascript", src="/common/services/lock8rData.service.js")
  script(type="text/javascript", src="/common/services/geolocation.service.js")
  script(type="text/javascript", src="/common/filters/formatDistance.filter.js")
  script(type="text/javascript", src="/common/directives/ratingStars/ratingStars.directive.js")
  script(src='https://code.jquery.com/jquery-1.12.4.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(type="text/javascript", src="/javascript/validations.js")
    
